<div class="jumbotron">
  <form #employeeForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(employeeForm)">
  
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input name="fullName" #fullName="ngModel" [(ngModel)]="employeeService.formEmployee.FullName"
       type="text" class="form-control" id="fullName" placeholder="Enter name" minlength="10" required
       [ngClass]="{'is-invalid': fullName.errors?.required && fullName.touched || fullName.errors?.minlength,
      'is-valid': fullName.valid}">
      <small class="form-text text-muted">We'll never share your data with anyone else.</small>
      <div *ngIf="fullName?.errors?.required" class="invalid-feedback">
        Please provide a name.
      </div>
      <div *ngIf="fullName?.errors?.minlength" class="invalid-feedback">
        At least {{ fullName?.errors.minlength.requiredLength }} characters.
      </div>
    </div>
    
    <div class="form-group">
      <label for="position">Position</label>
      <input name="position" #position="ngModel" [(ngModel)]="employeeService.formEmployee.Position"
       type="text" class="form-control" id="position" placeholder="Position" minlength="5" required
       [ngClass]="{'is-invalid': position.errors?.required && position.touched || position.errors?.minlength,
      'is-valid': position.valid}">
      <div *ngIf="position?.errors?.required" class="invalid-feedback">
        Please provide a position.
      </div>
      <div *ngIf="position?.errors?.minlength" class="invalid-feedback">
        At least {{ position?.errors.minlength.requiredLength }} characters.
      </div>
    </div>

    <div class="form-group">
      <label for="empCode">Code</label>
      <input name="empCode" #empCode="ngModel" [(ngModel)]="employeeService.formEmployee.EmpCode"
       type="text" class="form-control" id="code" placeholder="Code" minlength="5" required
       [ngClass]="{'is-invalid': empCode.errors?.required && empCode.touched || empCode.errors?.minlength,
      'is-valid': empCode.valid}">
      <div *ngIf="empCode?.errors?.required" class="invalid-feedback">
        Please provide a Code.
      </div>
      <div *ngIf="empCode?.errors?.minlength" class="invalid-feedback">
        At least {{ empCode?.errors.minlength.requiredLength }} characters.
      </div>
    </div>

    <div class="form-group">
      <label for="mobile">Mobile</label>
      <input name="mobile" #mobile="ngModel" [(ngModel)]="employeeService.formEmployee.Mobile"
       type="text" class="form-control" id="mobile" placeholder="Mobile" minlength="5" required
       [ngClass]="{'is-invalid': mobile.errors?.required && mobile.touched || mobile.errors?.minlength,
      'is-valid': mobile.valid}">
      <div *ngIf="mobile?.errors?.required" class="invalid-feedback">
        Please provide a phone number.
      </div>
      <div *ngIf="mobile?.errors?.minlength" class="invalid-feedback">
        At least {{ mobile?.errors.minlength.requiredLength }} characters for your mobile.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Submit</button>
  </form>
</div>